<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.sns.socialmedia.mapper.LikesMapper">

    <!-- 좋아요 등록 -->
    <insert id="insertLike" parameterType="Likes">
        /* 게시물에 좋아요 등록 */
        INSERT INTO likes (USER_ID, PHOTO_ID, CREATED_AT)
        VALUES (#{userId}, #{photoId}, NOW())
    </insert>

    <!-- 좋아요 취소 -->
    <delete id="deleteLike">
        /* 특정 사용자의 특정 게시물 좋아요 취소 */
        DELETE FROM likes WHERE USER_ID = #{userId} AND PHOTO_ID = #{postId}
    </delete>

    <!-- 게시물별 좋아요 수 조회 -->
    <select id="countByPostId" parameterType="long" resultType="int">
        /* photo_id로 해당 게시물의 좋아요 개수 조회 */
        SELECT COUNT(*) FROM likes WHERE PHOTO_ID = #{postId}
    </select>

</mapper>
