<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.sns.socialmedia.mapper.UsersMapper">
    <!-- 사용자 등록 -->
    <insert id="insertUser" parameterType="Users" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO users (USERNAME, EMAIL, PASSWORD, BIO, PROFILE_PICTURE, CREATED_AT)
        VALUES (#{username}, #{email}, #{password}, #{bio}, #{profilePicture}, NOW())
    </insert>

    <select id="Login" resultType="Users">
        SELECT ID, USERNAME, EMAIL, PASSWORD, BIO, PROFILE_PICTURE, CREATED_AT
        FROM user WHERE id = #{username} AND password = #{password} AND DELETE_YN = 'N'
    </select>

    <!-- id으로 사용자 조회 -->
    <select id="findById" parameterType="long" resultType="com.sns.socialmedia.Dto.ProfileDto">
        SELECT
            u.id,
            u.username,
            u.email,
            u.bio,
            u.profile_picture,
            -- 게시물 수
            (SELECT COUNT(*) FROM photos p WHERE p.user_id = u.id AND p.hide_yn = 'N') AS post_count,
            -- 팔로워 수 (나를 팔로우 하는 사람 수)
            (SELECT COUNT(*) FROM follows f WHERE f.following_id = u.id) AS follower_count,
            -- 팔로잉 수 (내가 팔로우 하는 사람 수)
            (SELECT COUNT(*) FROM follows f WHERE f.follower_id = u.id) AS following_count
        FROM users u
        WHERE u.id = #{id}
        AND DELETE_YN = 'N'
    </select>

    <select id="getMyPhoto" parameterType="long" resultType="com.sns.socialmedia.Dto.PhotoDto">
        SELECT
            p.id,
            p.image_url,
            p.caption,
            p.created_at
        FROM photos p
        WHERE p.user_id = #{id} AND p.hide_yn = 'N'
        ORDER BY p.created_at DESC;
    </select>

    <!-- username으로 사용자 조회 -->
    <select id="findByUsername" parameterType="string" resultType="Users">
        SELECT ID, USERNAME, EMAIL, PASSWORD, BIO, PROFILE_PICTURE, CREATED_AT FROM users WHERE USERNAME = #{username} AND DELETE_YN = 'N'
    </select>

    <select id="findByUsernameNotMe" parameterType="Users" resultType="Users">
        SELECT ID, USERNAME, EMAIL, PASSWORD, BIO, PROFILE_PICTURE, CREATED_AT
        FROM users WHERE USERNAME = #{username} AND id != #{id} AND DELETE_YN = 'N'
    </select>

    <!-- email로 사용자 조회 -->
    <select id="findByEmail" parameterType="string" resultType="Users">
        SELECT ID, USERNAME, EMAIL, BIO, PROFILE_PICTURE, CREATED_AT FROM users WHERE EMAIL = #{email} AND DELETE_YN = 'N'
    </select>

    <!-- 사용자 정보 수정 -->
    <update id="updateUser" parameterType="Users">
        UPDATE users SET
                         USERNAME = #{username},
                         EMAIL = #{email},
                         PASSWORD = #{password},
                         BIO = #{bio}
                        <if test="profilePicture != null">
                            , PROFILE_PICTURE = #{profilePicture}
                        </if>
        WHERE id = #{id}
    </update>

    <!-- 사용자 삭제 -->
    <delete id="deleteUser" parameterType="long">
        UPDATE users SET
                        DELETE_YN = 'Y'
        WHERE id = #{id}
    </delete>

    <!-- username 일부로 사용자 검색 -->
    <select id="searchByUsername" parameterType="string" resultType="Users">
        SELECT ID, USERNAME, BIO, PROFILE_PICTURE FROM users WHERE USERNAME LIKE CONCAT('%', #{keyword}, '%') AND DELETE_YN = 'N'
    </select>
</mapper>
